@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;800&family=Public+Sans:wght@300;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
}

small {
  color: #7d7987;
}
p {
  margin-bottom: 0.3rem;
}

/* Members  */

.head-members {
  height: 100vh;
  text-align: center;
  padding: 5% 0;
  position: relative;
}
.head-members .row {
  width: 80%;
  background-color: #e5f8fc;
  border-radius: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.containersample {
  padding: 6% 0;
}
.containersample p {
  color: #7d7987;
  font-size: 0.9rem;
}
.members-container h4 {
  color: #00b4d8;
  font-weight: 600;
  font-size: 1.8rem;
}
.head-heading {
  margin-bottom: 20px;
}

.head-members .containersample img {
  max-width: 60%;
}
.containersample h5 {
  margin-top: 20px;
  color: #00b4d8;
  font-weight: 600;
  font-size: 1rem;
}
.containersample small {
  color: #00b4d8;
  font-weight: 500;
}

.head-members .containersample small {
  color: #7d7987;
}

@media only screen and (max-width: 992px) {
  .head-members {
    padding: 0;
  }

  .head-members .containersample img {
    max-width: 30%;
  }

  .web-developers .member img {
    max-width: 10%;
  }
  .head-members .row {
    gap: 5px;
    max-width: 100%;
  }
  .technova-members-container .heading .team {
    max-width: 10%;
  }
  .head-members .members-container .head-heading .team {
    max-width: 10%;
  }
}

.head-members .top-dots {
  max-width: 150px;
  position: absolute;
  left: 0;
}
/* Website Developers  */
.web-developers {
  padding: 3% 0;
  text-align: center;
  color: #00b4d8;
  position: relative;
}

.web-developers-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.web-developers-container img {
  max-width: 60%;
}

.web-developers-container h4 {
  font-size: 1.8rem;
  font-weight: 600;
}
.web-developers .row {
  gap: 0px 0;
}
.web-developers .member h6 {
  position: relative;
  bottom: 50px;
}
.web-developers .member small {
  position: relative;
  bottom: 50px;
}

.member h6 {
  font-weight: 600;
}

.web-developers .top-dots {
  position: absolute;
  right: 0;
  max-width: 150px;
}

.web-developers .bottom-dots {
  position: absolute;
  left: 0;
  max-width: 150px;
}

/* Technova team  */
.technova-members {
  text-align: center;
  height: 90vh;
  padding: 5% 0;
  color: #00b4d8;
  position: relative;
}
.technova-members-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.technova-members .containersample {
  padding: 5% 0;
}

.technova-members-container h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
.technova-members .containersample p {
  font-size: 0.9rem;
}
.technova-members .row {
  gap: 50px 0;
  max-width: 95%;
  background-color: #e5f8fc;
  border-radius: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.technova-members .containersample img {
  max-width: 60%;
}

.team {
  max-width: 3%;
}

.technova-member h6 {
  margin-top: 10px;
}

.technova-member small {
  font-weight: 600;
}

.technova-members .top-dots {
  position: absolute;
  right: 0;
  max-width: 150px;
}

.technova-members .center-dots {
  position: absolute;
  left: -40px;
  top: 50%;
  max-width: 150px;
}

/* ALL CLUBS  */

/* Entrepreuners club  */

.all-clubs {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: conter;
  align-items: center;
  position: relative;
}
.all-clubs .row {
  width: 80%;
  background-color: #caf1f8;
  border-radius: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.all-clubs .containersample {
  padding: 4% 0 7%;
}

.all-clubs h4 {
  margin-top: 20px;
}

.all-clubs .clubs-top-dots {
  position: absolute;
  right: 0;
  max-width: 150px;
  top: 10px;
}

.all-clubs .clubs-bottom-dots {
  position: absolute;
  left: 0;
  max-width: 150px;
  bottom: 10px;
}

.smaller {
  max-width: 60%;
}

.gdsc-leader {
  max-width: 59%;
}
