@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;800&family=Public+Sans:wght@300;400;700&display=swap");

/* #FF00D6 */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
}
/* Header section  */

.achievements {
  padding: 2% 6%;
  position: relative;
  height: 100vh;
}

.dots {
  position: absolute;
  top: 50px;
  max-width: 150px;
  left: -50px;
}

.dots-img-2 {
  position: absolute;
  max-width: 170px;
  bottom: 150px;
  right: 0px;
}

.description {
  margin-top: 20px;
  color: #7d7987;
  margin-bottom: 10px;
  max-width: 100%;
  text-align: justify;
  font-size: 1rem;
}

.achievements ul {
  padding: 0 2%;
}

.achievements ul li {
  list-style-type: disc;
  color: #7d7987;
  font-size: 0.9rem;
  width: 90%;
  text-align: justify;
  margin: 10px 0;
}

.btn-container {
  max-width: 50%;
}

.btn-explore a {
  color: white;
  text-decoration: none;
}

.heading-achievements {
  color: #04a3d0;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 10px;
  letter-spacing: 0.2rem;
}

.images {
  display: inline;
  position: relative;
  transform: translateX(-3%);
}
.trophy {
  max-height: 110px;
}
.images img {
  margin: 0 10px;
}
.images .sharda-logo {
  max-height: 160px;
}
.achievement-image-container {
  position: relative;
}
.achievement-image {
  position: relative;
  max-width: 85%;
  margin-top: 50px;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
.achievement-list {
  text-align: center;
  height: 100vh;
  padding: 2% 0;
}
.carousel-item {
  padding: 2% 30%;
}
.carousel-img {
  width: 100%;
  margin: 10px;
}

.achievements-heading {
  color: #00a5d0;
  line-height: 2.5;
  font-size: 1.8rem;
}

.trophy-blue {
  max-height: 75px;
}

/* Slider  */

/* START OF SLIDER STYLES */
:root::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.slider {
  width: 100%;
  position: relative;
}

.pagination {
  list-style: none;
}

.slides {
  width: 100%;
  height: 500px;
  display: flex;
  gap: 0;
  align-items: stretch;
  overflow-x: scroll;
  overflow-y: clip;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
}
.slides::-webkit-scrollbar {
  display: none;
}

.slide {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  scroll-margin-block-start: 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.slide img {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
}

.slideText {
  position: absolute;
  text-align: center;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slideHeading {
  line-height: 1.4;
}
.slideTagline {
  line-height: 1.6;
}

.slideNav {
  min-width: 1rem;
  min-height: 1rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
.slideNav svg {
  width: 1.4rem;
  height: auto;
}
.prev-slide {
  left: 0;
}
.next-slide {
  right: 0;
}

.pagination {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.pagination a {
  text-decoration: none;
}
.slideBtn {
  min-width: 0.5rem;
  min-height: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
}
/* END OF SLIDER STYLES */

/* CUSTOMIZING OPTIONS: Add Slides, Delete Slides, Settings */
/* SPACING/SIZING OPTIONS NOT INCLUDED: You may edit Margins/Padding/Line-Height/Letter-Spacing/Font-Size in the rulesets above */
/* Maybe fork it and add spacing/sizing options? */
